<!-----------------------------------FOOTER---------------------------------------->

<div class="newsletter-signup">
    <div class="row column medium-9 medium-columns">
        <div class="row">
            <div class="medium-7 large-8 columns">
                <a href="">
                    <h5> Ви можете завантажити наш додаток для платформи Android.
                    </h5>
                    <p class="hide-for-medium-only"> Користування нашою системою стало ще більш мобільним!
                    </p>
                </a>
            </div>
            <div class="medium-5 large-4 footer-signup-form columns">
                <a style="margin-bottom: 0;" href="" class="button expanded"> Завантажити apk</a>
            </div>
        </div>
    </div>
</div>

<div class="zurb-footer-top bg-fblue">
    <div class="partners">
        <h3 class="text-center" style="font-size: 1.5rem; font-weight: bold;"> Наші партнери:</h3>
        <div class="row ">
            <div class="medium-4 small-6 columns">
                <img src="../img/Partners/egap.png" style="max-height: 10rem;" alt="EGAP logo">
            </div>
            <div class="medium-4 small-6 columns">
                <img src="../img/Partners/tehnovin.png" style="max-height: 10rem;" alt="TehnoVin logo">
            </div>
            <div class="medium-4 small-12 columns">
                <img src="../img/Partners/ntsa.png" style="max-height: 9rem;" alt="NTSA logo">
            </div>
            <div class="dotted_line medium-12 columns">
            </div>
        </div>
    </div>
    <div class="row property">
        <div class="medium-12 columns">
            <div class="property-info">
                <div class="row">
                    <div class="column medium-7">
                        <h3> EcoCitizens для Вашого міста
                        </h3>
                        <p> Які рівні забруднення повітря навколо Вашого будинку або бізнес - середовища ? А як щодо шумового забруднення і вологості ? Тепер уявіть, що Ви знаєте їх, ділитеся миттєво і порівнюєте з іншими місцями у Вашому місті в режимі реального часу.
                        </p>
                        <p> Використовуйте наш сервіс.
                        </p>
                    </div>
                    <div class="column medium-5">
                        <h3> Зв'яжіться з нами:</h3>
                        <p>
                            <b> Phone:</b> +380 93 385 0579</p>
                        <p>
                            <b> Support & Marketing:</b> ecocitizens.ua@gmail.com</p>
                        <p> Шукайте нас в соціальних мережах.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dotted_line medium-12 columns hide-for-medium">
    </div>
    <div class="row global">
        <div class="medium-4 small-6 columns">
            <div class="footer-link-block services">
                <span class="title"> Стартапи</span>
                <span> Нові ідеї - це майбутнє.</span>
            </div>
        </div>
        <div class="medium-4 small-6 columns">
            <div class="footer-link-block foundation">
                <span class="title"> Smart City</span>
                <span> Побудуємо справжнє smart city.</span>
            </div>
        </div>
        <div class="medium-4 small-12 columns">
            <div class="footer-link-block expo">
                <span class="title">Змагання</span>
                <span> Проект бере участь у багатьох змаганнях. Наприклад: Apps4Cities Challenge, EGAP Challenge.</span>
            </div>
        </div>
    </div>
</div>
<div class="zurb-footer-bottom ">
    <div class="row">
        <div class="medium-8 columns align-left">
            <img src="../img/EcoCitizensLogo1.png" alt="LOGO" style="max-width: 35%;">
            <p class="copyright">
                <big> Проект стрімко розвивається. Долучайтесь до нас в соціальних мережах!</big>
            </p>
        </div>
        <div class="medium-4 align-right  columns social_links">
            <a href="https://plus.google.com/u/4/104339487019946657125" target="_blank">
                <img src="../img/Links/g+.png" style="max-height: 3rem;" alt="Link 1 G+">
            </a>
            <a href="https://www.facebook.com/ecocitizens" target="_blank">
                <img src="../img/Links/fb.png" style="max-height: 3rem;" alt="Link 2 facebook">
            </a>
            <a href="https://vk.com/ecocitizens" target="_blank">
                <img src="../img/Links/vk.png" style="max-height: 3rem;" alt="Link 3 VK">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="medium-8 columns align-left">
            <p class="copyright"><big>&copy;
                2016 EcoCitizens, Vinnytsia. All rights reserved.</big>
            </p>
        </div>
    </div>
</div>
<!------------------------------------END_FOOTER------------------------------------------------>