<div class=" mainBlock">
    <div class="row mainButtons">
        <img src="/img/EcoCitizensLogo.png" alt="Logo" class="mainLogo">
        <div class="mainbut columns medium-offset-2">
            <a href="#services" class="button buttonAbout ">Про проект</a>
            <a class="button menu_btn" id="menu_btn_1">Розпочати роботу</a>
        </div>
    </div>
</div>
<!-------------------------FIRSTCONTENT------------->


<div class="row">
    <div class=" columns large-4 medium-6 small-12 users" id="services">
        <img src="/img/Partners/pic1.png" style="max-width: 70%;">
        <h5><b>Дослідники</b></h5>
        <p><i>Використовуйте <b class="color-green">Eco</b><i class="color-black">Citizens</i> в якості інструменту для
            збору і аналізу даних</i></p>
    </div>
    <div class="columns large-4 medium-6 small-12 users">
        <img src="/img/Partners/pic2.png" style="max-width: 70%;">
        <h5><b>Школи</b></h5>
        <p><i>Дані можуть бути дуже потужним інструментом освіти. Використовуйте <b class="color-green">Eco</b><i
                class="color-black">Citizens</i> для навчання.</i></p>
    </div>
    <div class=" columns large-4 medium-6 small-12 users">
        <img src="/img/Partners/pic3.png" style="max-width: 70%;">
        <h5><b>Громади</b></h5>
        <p><i>Ініціюйте суспільно важливі ініціативи у вашому районі. Використовуйте для створення локальних карт якості
            повітря, для підвищення обізнаності про питання, які важливі для вашої громади.</i></p>
    </div>

    <!-- Next row -->
    <div class=" columns large-6 medium-6 small-12 users">
        <img src="/img/Partners/pic4.png" style="max-width: 70%;">
        <h5><b>Міста</b></h5>
        <p><i>Скорочення прогалин і заповнення їх даними із датчиків.</i></p>
    </div>
    <div class=" columns large-6 medium-12 small-12 users">
        <img src="/img/Partners/pic5.png" style="max-width: 70%;">
        <h5><b>Розробники</b></h5>
        <p><i><b class="color-green">Eco</b><i class="color-black">Citizens</i> – це повністю відкритий ресурс.
            Поділіться своїм внеском з усією громади, будуйте свої власні рішення і будьте частиною команди розробників.</i>
        </p>
    </div>
</div>

<div class="dotted_line  medium-12 columns"></div>

<!-------------------------PIC------------->
<div class="pictext1">
    <div class="row">
        <div class="columns large-6 medium-6  small-12 post6" style=" margin-top: 2rem;">
            <h2 class="color-green"><b class="transp">Eco</b><b class="color-white transp">Citizens</b></h2>
            <h5 class="color-white"><i class="transp">Проект EcoCitizens заснований на геолокації, інтернеті та вільному
                апаратному і програмному забезпеченні для збору та обміну даними.</i></h5>
        </div>
    </div>
</div>

<div class="dotted_line row medium-10 columns"></div>

<!-------------------------SECONDCONTENT------------->
<div class="row post3">
    <div class="columns offset-large-1 large-4 small-12 offset-medium-2 medium-4">
        <div id="aboutUs" class="section scrollspy">
            <h3 class="color-green font_style"><b>Eco</b><b class="color-black">Citizens Platform</b></h3>
            <big>Люди в пошуках кращого міста. Які рівні забруднення повітря навколо Вашого будинку або
                бізнес-середовища? А як щодо шумового забруднення і вологості? Тепер уявіть, що Ви знаєте їх, ділитеся
                миттєво і порівнюєте з іншими місцями у Вашому місті в режимі реального часу... Як ця інформація може
                допомогти поліпшити якість нашого навколишнього середовища? Ми хочемо відповісти на ці та багато інших
                питань за допомогою розробки геопросторової платформи та датчиків. Але ми не будемо зупинятися на
                досягнутому... Ми будуємо справжнє Smart City за допомогою EcoCitizens?
            </big>
        </div>
    </div>
    <div class="columns offset-large-1 large-5 medium-7 small-12">
        <div id="aboutUs" class="section scrollspy">

            <img src="/img/notebook.png" style="max-width: 90%; margin-top: 50px;" class="center">
        </div>
    </div>
</div>

<div class="dotted_line row medium-10 columns"></div>

<!-------------------------DEVICE------------->
<div class="pictext2">
    <div class="row color-white">
        <h2 class="center"><b>Датчик:</b></h2>
        <div class="columns large-6 medium-6  small-12">
            <big><p>EcoCitizen Kit складається з плати з датчиками, плати обробки даних, батареї і екрана.</p></big>
            <big><p>Перша плата містить датчики, які вимірюють склад повітря (CO2 і NO2), температуру, вологість,
                інтенсивність світла і рівень шуму.</p></big>
            <big><p>Пристрій передає потік даних, виміряних за допомогою датчиків через Wi-Fi.</p></big>
            <big><p>Низька споживана потужність пристрою дозволяє помістити його на балконах і підвіконнях. Живлення
                пристрою може бути забезпечене за допомогою панелі сонячних батарей і / або батареї, чи безпосередньо
                від мережі.</p></big>
        </div>
        <div class="columns large-4  medium-6 small-12 center">
            <img src="/img/device.png" style="max-width: 14rem;">
        </div>
    </div>
</div>

<div class="dotted_line row medium-10 columns"></div>

<h4 class="center color-green"><b>Параметри, які можуть виміряти наші прилади:</b></h2>

    <div class="EC_about row" id="parametersImg">
        <div class="columns large-4 medium-6 small-12 ">
            <img src="/img/Parameters/param7.png" style="max-width: 70%;">
            <h5><b>Температура</b></h5>
        </div>
        <div class="columns large-4 medium-6 small-12 ">
            <img src="/img/Parameters/param2.png" style="max-width: 70%;">
            <h5><b>Вологість</b></h5>
        </div>
        <div class="columns large-4 medium-6 small-12 ">
            <img src="/img/Parameters/param3.png" style="max-width: 70%; margin-top: 30px;">
            <h5><b>CO<sub>2</sub></b></h5>
        </div>
        <!-- Next row -->
        <div class="columns large-4 medium-6 small-12 ">
            <img src="/img/Parameters/param4.png" style="">
            <h5><b>Пил</b></h5>
        </div>
        <div class="columns large-4 medium-6 small-12 ">
            <img src="/img/Parameters/param5.png" style="margin-top: 22px;">
            <h5><b>Тиск</b></h5>
        </div>
        <div class="columns large-4 medium-6 small-12 ">
            <img src="/img/Parameters/param6.png" style="max-width: 70%;">
            <h5><b>Освітлення</b></h5>
        </div>
    </div>


    <div class="dotted_line row medium-10 columns"></div>

    <div class="row EC_about">
        <div class="columns offset-large-2 large-12  medium-12 small-12">
            <div class="center">
                <img src="/img/EcoCitizensLogo.png" style="max-width: 80%;">
            </div>
            <div class="EC_about_in">
                <big><i>
                    Проект інформаційної системи екологічного моніторингу. Базується на мережі датчиків та сервісу
                    обробки, візуалізації отриманих даних.
                </i></big>


                <big><p><b>Мета проекту</b> — створити інформаційну систему екологічного моніторингу на основі дешевих
                    пристроїв.</p></big>
                <big><p><b>Чому це буде дешево?</b> Бо розробка використовує пристрої на платформі Arduino, модифікація
                    та програмування яких не потребує багато часу чи ресурсів, а код розповсюджується як open-source.
                </p></big>
                <big><p><b>Чому це масово?</b> Бо пристрої відносно дешеві і їх можна встановити будь-де, що дасть змогу
                    оперативно реагувати на складні екологічні ситуації.</p></big>
                <big><p><b>Що це дасть:</b></p></big>

                <ol>
                    <big>
                        <li>Безпечніше міське довкілля, доступ громадян до інформації про поточний стан довкілля у
                            Вашому місті чи районі, а також можливість проводити тривалі наукові дослідження та
                            отримувати відкриті дані про стан забруднення повітря.
                        </li>
                    </big>
                    <big>
                        <li>Розбудована мережа моніторингу із центральною базою даних та вільним доступом до неї –
                            дозволить органічно поєднати цей проект з іншими проектами, націленими на розвиток
                            технологій «Розумне місто».
                        </li>
                    </big>
                    <big>
                        <li>На базі проекту EcoCitizens можна буде створювати численні сервіси для аналізу та
                            оперативного сповіщення про стан довкілля.
                        </li>
                    </big>
                </ol>
            </div>
        </div>
    </div>

    <div class="dotted_line row medium-10 columns"></div>