<!---------------------------MENU------------------------------------>
<div class=" hide-for-medium-only hide-for-small-only">
    <div class="row medium-2 column nav-work">
        <img src="../img/EcoCitizensLogo.png" alt="Logo" style="max-width: 30rem; margin-bottom: 1rem;" class="transp">
        <a class="menu_btn small button" id="menu_btn_0">На головну</a>
        <a onclick="clearMarkersPollutions();" class="alert button" style="white-space: pre;">Приховати забруднювачі</a>
        <a onclick="showMarkersPollutions();" class="button" style="white-space: pre;">Показати забруднювачі</a>
        <a onclick="clearMarkersDevices();" class="alert button" style="white-space: pre;">Приховати пристрої</a>
        <a onclick="showMarkersDevices();" class="button" style="white-space: pre;">Показати пристрої</a>
    </div>
</div>
<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Меню/Навігація</div>
</div>


<div class="top-bar hide-for-large" id="example-menu">
    <label class="row color-white">
        <div class="columns medium-4">
            <a class="menu_btn small button" id="menu_btn_0">На головну</a>
            <div class="row"></div>
            <a onclick="clearMarkersPollutions();" class="small button">Приховати забруднювачі</a>
            <div class="row"></div>
            <a onclick="showMarkersPollutions();" class="small button">Показати забруднювачі</a>
            <div class="row"></div>
            <a onclick="clearMarkersDevices();" class="small button">Приховати пристрої</a>
            <div class="row"></div>
            <a onclick="showMarkersDevices();" class="small button">Показати пристрої</a>
        </div>
    </label>
</div>

<div id="map"></div>
<script>
    //-----------------------VariablesForMap-------------------------------------
    var counter = 0;
    var styleArray = [
        {
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#1d2c4d"
                }
            ]
        },
        {
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#8ec3b9"
                }
            ]
        },
        {
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#1a3646"
                }
            ]
        },
        {
            "featureType": "administrative.country",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#4b6878"
                }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#64779e"
                }
            ]
        },
        {
            "featureType": "administrative.province",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#4b6878"
                }
            ]
        },
        {
            "featureType": "landscape.man_made",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#334e87"
                }
            ]
        },
        {
            "featureType": "landscape.natural",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#023e58"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#283d6a"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#6f9ba5"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#1d2c4d"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#023e58"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#3C7680"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#304a7d"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#98a5be"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#1d2c4d"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#2c6675"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#255763"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#b0d5ce"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#023e58"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#98a5be"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#1d2c4d"
                }
            ]
        },
        {
            "featureType": "transit.line",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#283d6a"
                }
            ]
        },
        {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#3a4762"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#0e1626"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#4e6d70"
                }
            ]
        }
    ];

    imagePollutions = "img/mapIconPollutions.png";
    imageDevices = "img/MapIconEco.png";

    var pollutions = [
        ['Cronulla Beach', 48.238374, 30.322966],
        ['Manly Beach', 47.538374, 29.322966],
        ['Maroubra Beach', 48.938374, 28.322966]
    ];

    var devices = [
        ['Датчик №1, Naberezhno-Lugova St, 8, Kiev', 50.447810, 30.530176, 1],
    ];

    var markerDevices = [];
    var markerPollutions = [];
    var map;
    var counterShowDevices = 1;
    var counterShowPollutions = 1;

    function displayParam() {
        if (counter > 0) {
            displayParam1.style.display = "block";
            displayParam2.style.display = "none";
        }
    };
    //--------------------MAP_Initializations----------------------------------
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 6,
            center: {
                lat: 49.238374,
                lng: 31.322966
            },
            styles: styleArray
        });

        setMarkersPollutions(map);
        setMarkersDevices(map);
    }

    function setMarkersDevices(map) {
        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };
        for (var i = 0; i < devices.length; i++) {
            var eco = devices[i];
            markerDevices[i] = new google.maps.Marker({
                icon: imageDevices,
                position: {
                    lat: eco[1],
                    lng: eco[2]
                },
                map: map,
                title: eco[0],
                zIndex: eco[3],
                animation: google.maps.Animation.DROP
            });
            markerDevices[0].addListener('click', toggleBounce1);
        }
    }

    function toggleBounce1() {
        counter++;
        displayParam();
        alert('Ви обрали датчик №1');

        $("html, body").delay(700).animate({
            scrollTop: $(window).height() - 200
        }, 500);
        if (markerDevices[0].getAnimation() !== null) {
            markerDevices[0].setAnimation(null);
        } else {
            markerDevices[0].setAnimation(google.maps.Animation.BOUNCE);
        }
    }

    function setMarkersPollutions(map) {
        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };
        for (var i = 0; i < pollutions.length; i++) {
            var pollution = pollutions[i];
            markerPollutions[i] = new google.maps.Marker({
                icon: imagePollutions,
                position: {
                    lat: pollution[1],
                    lng: pollution[2]
                },
                map: map,
                title: pollution[0],
                zIndex: pollution[3],
                animation: google.maps.Animation.DROP
            });
        }
    }
    //--------------------Show/Clear markers Map--------------------------
    function clearMarkersPollutions() {
        counterShowPollutions = 0;
        for (var i = 0; i < pollutions.length; i++) {
            markerPollutions[i].setMap(null);
        }
    }

    function showMarkersPollutions() {

        if (counterShowPollutions != 1) {
            setMarkersPollutions(map);
        }
        counterShowPollutions = 1;
    }

    function clearMarkersDevices() {
        counterShowDevices = 0;
        for (var i = 0; i < devices.length; i++) {
            markerDevices[i].setMap(null);
        }
    }

    function showMarkersDevices() {
        if (counterShowDevices != 1) {
            setMarkersDevices(map);
        }
        counterShowDevices = 1;
    }

    //----------------MAP_Markers_Clusterisation------------------------------------------
    /*var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
     var markers = locations.map(function(location, i) {
     return new google.maps.Marker({
     position: location,
     label: labels[i % labels.length]
     });
     });
     var markerCluster = new MarkerClusterer(map, markerDevices,
     {imagePath: "img/"});
     }
     var locations = [
     {lat: -31.563910, lng: 147.154312},
     {lat: -33.718234, lng: 150.363181},
     {lat: -33.727111, lng: 150.371124},
     {lat: -33.848588, lng: 151.209834},
     {lat: -33.851702, lng: 151.216968},
     {lat: -34.671264, lng: 150.863657},
     {lat: -35.304724, lng: 148.662905},
     {lat: -36.817685, lng: 175.699196},
     {lat: -36.828611, lng: 175.790222},
     {lat: -37.750000, lng: 145.116667},
     {lat: -37.759859, lng: 145.128708},
     {lat: -37.765015, lng: 145.133858},
     {lat: -37.770104, lng: 145.143299},
     {lat: -37.773700, lng: 145.145187},
     {lat: -37.774785, lng: 145.137978},
     {lat: -37.819616, lng: 144.968119},
     {lat: -38.330766, lng: 144.695692},
     {lat: -39.927193, lng: 175.053218},
     {lat: -41.330162, lng: 174.865694},
     {lat: -42.734358, lng: 147.439506},
     {lat: -42.734358, lng: 147.501315},
     {lat: -42.735258, lng: 147.438000},
     {lat: -43.999792, lng: 170.463352}
     ]*/
</script>
<!---------------------------------------------------------PARAMETERS----------------------------------------------------->

<div class="parameters text-center" id="services">
    <div class="white-text refresh displayParam" id="displayParam1" style="display: none;"><b><h5>Останнє оновлення:</b> Date, Time</h5>
    </div>
    <div style="display: block;" class="white-text refresh" id="displayParam2">
        <h2>Оберіть датчик!</h2></div>
    <div class="row">
        <div class="medium-3 column">
            <h5 class="color-white"><b>Температура:</b> <sup>o</sup>C</h5>
            <h5><b><div> PARAM </div></b></h5>
            <img src="../img/Parameters/param1.png" style="max-width: 5rem;">
        </div>

        <div class="medium-3 column">
            <h5 class="color-white"><b>CO<sub>2</sub>:</b> ppm</h5>
            <h5><b><div> PARAM </div></b</h5>
            <img src="../img/Parameters/param3.png" style="max-width: 5rem;">
        </div>
        <div class="medium-3 column">
            <h5 class="color-white"><b>Тиск:</b> мм рт. стовп.</h5>
            <h5><b><div> PARAM </div></b</h5>
            <img src="../img/Parameters/param5.png" style="max-width: 5rem;">
        </div>
        <div class="medium-3 column">
            <h5 class="color-white"><b>Вологість:</b> RH</h5>
            <h5><b><div> PARAM </div></b</h5>
            <img src="../img/Parameters/param2.png" style="max-width: 5rem;">
        </div>
    </div>
</div>
<!---------------------------------------------------------CHART----------------------------------------------------->
<div class="chart_div">
    <div class="row nav-work-chart text-left">
        <fieldset class="medium-8 small-12 columns">
            <legend>
                <h3 class="color-white" style="white-space: pre;">Оберіть параметр:</h3></legend>
            <input type="radio" name="1" value="1" id="1" required onclick="destroyNoTemperature();">
            <label for="1" class="color-white">Температура</label>

            <input type="radio" name="2" value="2" id="2" onclick="destroyNoCo2();">
            <label for="2" class="color-white">Сo2</label>

            <input type="radio" name="3" value="3" id="3" onclick="destroyNoPressure();">
            <label for="3" class="color-white">Тиск</label>

            <input type="radio" name="4" value="4" id="4" onclick="destroyNoHumidity();">
            <label for="4" class="color-white">Вологість</label>
        </fieldset>
    </div>
    <div id="visualization"></div>
</div>

<script type="text/javascript">
    var itemsTemperature = [
        {
            x: '2016-11-18',
            y: 10
        },
        {
            x: '2016-11-18',
            y: 25
        }];
    var itemsCo2 = [
        {
            x: '2016-11-18',
            y: -10
        },
        {
            x: '2016-11-18',
            y: -25
        }];
    var itemsPressure = [
        {
            x: '2016-11-18',
            y: 10
        },
        {
            x: '2016-11-18',
            y: 25
        }];
    var itemsHumidity = [
        {
            x: '2016-11-18',
            y: -10
        },
        {
            x: '2016-11-18',
            y: -25
        }];
    var Null = [
        {
            x: '2016-11-18',
            y: 0
        },
        {
            x: '2016-11-18',
            y: 0
        }];

    var options = {
        start: '2016-11-18'
    };

    var container = document.getElementById('visualization');
    var dataset = new vis.DataSet(Null);
    var Graph2d = new vis.Graph2d(container, dataset, options);

    function destroyNoTemperature() {
        Graph2d.destroy();
        console.log('tempHui');
        addTemperature();
    };

    function destroyNoCo2() {
        Graph2d.destroy();
        console.log('co2Hui');
        addCo2();
    };

    function destroyNoPressure() {
        Graph2d.destroy();
        addPressure();
    };

    function destroyNoHumidity() {
        Graph2d.destroy();
        addHumidity();
    };

    function destroy() {
        Graph2d.destroy();
    };

    function addTemperature() {
        container = document.getElementById('visualization');
        dataset = new vis.DataSet(itemsTemperature);
        Graph2d = new vis.Graph2d(container, dataset, options);
    };

    function addCo2() {
        container = document.getElementById('visualization');
        dataset = new vis.DataSet(itemsCo2);
        Graph2d = new vis.Graph2d(container, dataset, options);
    };

    function addPressure() {
        container = document.getElementById('visualization');
        dataset = new vis.DataSet(itemsPressure);
        Graph2d = new vis.Graph2d(container, dataset, options);
    };

    function addHumidity() {
        container = document.getElementById('visualization');
        dataset = new vis.DataSet(itemsHumidity);
        Graph2d = new vis.Graph2d(container, dataset, options);
    };
</script>