<!---------------------------MENU------------------------------------>
<div class="title-bar hide-for-large" data-responsive-toggle="example-menu">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Меню/Навігація</div>
</div>

<div class="top-bar hide-for-large" id="example-menu">
    <label class="row color-white">
        <div class="columns medium-4">
            <a class="menu_btn small button" id="menu_btn_0">На головну</a>
            <div class="row"></div>
            <a class="small button clearPollutions">Приховати забруднювачі</a>
            <div class="row"></div>
            <a class="small button addPollutions">Показати забруднювачі</a>
            <div class="row"></div>
            <a class="small button clearDevices">Приховати пристрої</a>
            <div class="row"></div>
            <a class="small button addDevices">Показати пристрої</a>
        </div>
    </label>
</div>

<div class=" hide-for-medium-only hide-for-small-only">
    <div class="row medium-2 column nav-work">
        <img src="../img/EcoCitizensLogo.png" alt="Logo" style="max-width: 30rem; margin-bottom: 1rem;"
             class="transp">
        <a class="menu_btn small button" id="menu_btn_0">На головну</a>
        <div class="row"></div>
        <a class="alert button clearPollutions" style="white-space: pre;">Приховати забруднювачі</a>
        <div class="row"></div>
        <a class="button addPollutions" style="white-space: pre;">Показати забруднювачі</a>
        <a class="alert button clearDevices" style="white-space: pre;">Приховати пристрої</a>
        <div class="row"></div>
        <a class="button addDevices" style="white-space: pre;">Показати пристрої</a>
    </div>

    <div id="map"></div>

</div>

<script>
    var styles = [
        {
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#1d2c4d"
                }
            ]
        },
        {
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#8ec3b9"
                }
            ]
        },
        {
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#1a3646"
                }
            ]
        },
        {
            "featureType": "administrative.country",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#4b6878"
                }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#64779e"
                }
            ]
        },
        {
            "featureType": "administrative.province",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#4b6878"
                }
            ]
        },
        {
            "featureType": "landscape.man_made",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#334e87"
                }
            ]
        },
        {
            "featureType": "landscape.natural",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#023e58"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#283d6a"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#6f9ba5"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#1d2c4d"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#023e58"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#3C7680"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#304a7d"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#98a5be"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#1d2c4d"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#2c6675"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#255763"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#b0d5ce"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#023e58"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#98a5be"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#1d2c4d"
                }
            ]
        },
        {
            "featureType": "transit.line",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#283d6a"
                }
            ]
        },
        {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#3a4762"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#0e1626"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#4e6d70"
                }
            ]
        }
    ];

    var map = new GMaps({
        div: '#map',
        lat: 49.238374,
        lng: 31.322966,
        zoom: 6
    });

    map.addStyle({
        styledMapName: "Styled Map",
        styles: styles,
        mapTypeId: "map_style"
    });

    map.setStyle("map_style");

</script>

<div class="parameters text-center" id="services">
    <div class="white-text refresh displayParam" id="displayParam1" style="display: none;"><b><h5>Останнє оновлення:</b>
        Date, Time</h5>
    </div>
    <div style="display: block;" class="white-text refresh" id="displayParam2">
        <h2>Оберіть датчик!</h2></div>
    <div class="row">
        <div class="medium-3 column">
            <h5 class="color-white"><b>Температура:</b> <sup>o</sup>C</h5>
            <h5><b>
                <div> PARAM</div>
            </b></h5>
            <img src="../img/Parameters/param1.png" style="max-width: 5rem;">
        </div>

        <div class="medium-3 column">
            <h5 class="color-white"><b>CO<sub>2</sub>:</b> ppm</h5>
            <h5><b>
                <div> PARAM</div>
            </b</h5>
            <img src="../img/Parameters/param3.png" style="max-width: 5rem;">
        </div>
        <div class="medium-3 column">
            <h5 class="color-white"><b>Тиск:</b> мм рт. стовп.</h5>
            <h5><b>
                <div> PARAM</div>
            </b</h5>
            <img src="../img/Parameters/param5.png" style="max-width: 5rem;">
        </div>
        <div class="medium-3 column">
            <h5 class="color-white"><b>Вологість:</b> RH</h5>
            <h5><b>
                <div> PARAM</div>
            </b</h5>
            <img src="../img/Parameters/param2.png" style="max-width: 5rem;">
        </div>
    </div>
</div>
<!---------------------------------------------------------CHART----------------------------------------------------->
<div class="chart_div">
    <div class="row nav-work-chart text-left">
        <fieldset class="medium-8 small-12 columns">
            <legend>
                <h3 class="color-white" style="white-space: pre;">Оберіть параметр:</h3></legend>
            <input type="radio" name="1" value="1" id="1" required onclick="destroyNoTemperature();">
            <label for="1" class="color-white">Температура</label>

            <input type="radio" name="2" value="2" id="2" onclick="destroyNoCo2();">
            <label for="2" class="color-white">Сo2</label>

            <input type="radio" name="3" value="3" id="3" onclick="destroyNoPressure();">
            <label for="3" class="color-white">Тиск</label>

            <input type="radio" name="4" value="4" id="4" onclick="destroyNoHumidity();">
            <label for="4" class="color-white">Вологість</label>
        </fieldset>
    </div>
    <div id="visualization"></div>
</div>

<script type="text/javascript">
    var itemsTemperature = [
        {
            x: '2016-11-18',
            y: 10
        },
        {
            x: '2016-11-18',
            y: 25
        }];
    var itemsCo2 = [
        {
            x: '2016-11-18',
            y: -10
        },
        {
            x: '2016-11-18',
            y: -25
        }];
    var itemsPressure = [
        {
            x: '2016-11-18',
            y: 10
        },
        {
            x: '2016-11-18',
            y: 25
        }];
    var itemsHumidity = [
        {
            x: '2016-11-18',
            y: -10
        },
        {
            x: '2016-11-18',
            y: -25
        }];
    var Null = [
        {
            x: '2016-11-18',
            y: 0
        },
        {
            x: '2016-11-18',
            y: 0
        }];

    var options = {
        start: '2016-11-18'
    };

    var container = document.getElementById('visualization');
    var dataset = new vis.DataSet(Null);
    var Graph2d = new vis.Graph2d(container, dataset, options);

    function destroyNoTemperature() {
        Graph2d.destroy();
        console.log('tempHui');
        addTemperature();
    }
    ;

    function destroyNoCo2() {
        Graph2d.destroy();
        console.log('co2Hui');
        addCo2();
    }
    ;

    function destroyNoPressure() {
        Graph2d.destroy();
        addPressure();
    }
    ;

    function destroyNoHumidity() {
        Graph2d.destroy();
        addHumidity();
    }
    ;

    function destroy() {
        Graph2d.destroy();
    }
    ;

    function addTemperature() {
        container = document.getElementById('visualization');
        dataset = new vis.DataSet(itemsTemperature);
        Graph2d = new vis.Graph2d(container, dataset, options);
    }
    ;

    function addCo2() {
        container = document.getElementById('visualization');
        dataset = new vis.DataSet(itemsCo2);
        Graph2d = new vis.Graph2d(container, dataset, options);
    }
    ;

    function addPressure() {
        container = document.getElementById('visualization');
        dataset = new vis.DataSet(itemsPressure);
        Graph2d = new vis.Graph2d(container, dataset, options);
    }
    ;

    function addHumidity() {
        container = document.getElementById('visualization');
        dataset = new vis.DataSet(itemsHumidity);
        Graph2d = new vis.Graph2d(container, dataset, options);
    }
    ;
</script>
