<div class="row" id="registration">
    <div class="column small-12"><input type="text"></div>
    <div class="column small-12"><input type="password"></div>
    <div class="column small-12"><input type="submit"></div>
</div>