body {
  background-color: snow;
  background-attachment: fixed;
  -moz-background-size: 100vh;
  -webkit-background-size: 100vh;
  -o-background-size: 100vh;
  font-family: 'Bitter', Georgia, serif; }

.wrapper {
  height: 100vh !important;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden; }

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0; }

.nav-work-chart {
  position: releative;
  margin-top: 0rem;
  z-index: 5; }

.mainBlock {
  background: url(../img/background1.jpg) 100% 100% no-repeat;
  /*background-attachment: fixed;*/
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  background-size: cover; }

.mainbut {
  margin-top: 2vh; }

.users {
  text-align: center; }

@media (min-height: 801px) {
  .mainBlock {
    height: 50vh; }

  .mainButtons {
    height: 35vh;
    padding: 3vh 1vh; }

  .users {
    height: 50vh;
    padding: 5vh 1vh; } }
@media (max-height: 800px) {
  .mainBlock {
    height: 50vh; }

  .mainButtons {
    height: 33vh;
    padding: 10vh 1vh; }

  .users {
    height: 50vh;
    padding: 5vh 1vh; } }
@media (max-height: 480px) {
  .mainBlock {
    height: 100vh; }

  .mainButtons {
    height: 80vh;
    padding: 18vh 1vh; }

  .users {
    height: 100vh;
    padding: 18vh 1vh; } }
/*
@media (device-aspect-ratio: 16/9) and (max-height: ) {
    .mainBlock {
        height: 100vh;
    }

    .mainButtons {
        height: 80vh;
    }

    .users {
        height: 100vh;
    }
} */
.partners {
  text-align: center; }

.dotted_line {
  height: 1px;
  border-bottom: 4px dotted #356579;
  margin: 2vh auto; }

.chart_div {
  background-color: #03252D; }

.parameters {
  background-color: #042F3B;
  color: white; }

.color-white {
  color: white; }

.color-green {
  color: green; }

.color-black {
  color: black; }

.parameters b {
  color: #8E9344; }

.refresh {
  background-color: #043846; }

.refresh b {
  color: #8E9344; }

.logo {
  background: url("../img/EcoCitizensLogo.png");
  -moz-background-size: 100vh;
  -webkit-background-size: 100vh;
  -o-background-size: 100vh;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  background-size: cover; }

.top-bar {
  background-color: #065063 !important; }

.transp {
  background-color: rgba(255, 255, 255, 0.35) !important;
  z-index: 5; }

.mainLogo {
  margin-top: 3vh;
  height: auto;
  max-height: 6rem; }

.center {
  text-align: center; }

.pictext1 {
  background: url("../img/background2.jpg");
  -moz-background-size: 100vh;
  -webkit-background-size: 100vh;
  -o-background-size: 100vh;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  background-size: cover;
  height: 27rem; }

.pictext2 {
  background-color: #023E58;
  -moz-background-size: 100vh;
  -webkit-background-size: 100vh;
  -o-background-size: 100vh;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  background-size: cover;
  height: auto; }

.EC_about {
  text-align: center; }

.EC_about_in {
  text-align: left; }

#parametersImg div {
  height: 170px; }

.nav-work {
    position: absolute;
    margin-top: 6rem;
    z-index: 5;
}

/*------------------------------------------Footer------------------------------------------------------------*/
.newsletter-signup {
  padding: 1rem 0;
  background: #074E68; }

.newsletter-signup h5 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #fefefe;
  line-height: 24px; }

.zurb-footer-top {
  padding: 40px 0;
  color: white; }

.zurb-footer-top .row .columns::before,
.zurb-footer-top .row .columns::after {
  content: ' ';
  display: table; }

.zurb-footer-top .row .columns::after {
  clear: both; }

.zurb-footer-top.zurb {
  background-position: 10px 7px; }

.zurb-footer-top .property {
  text-align: center; }

.zurb-footer-top .property .property-info {
  padding-top: 37px; }

.zurb-footer-top .property h2 {
  margin: 0;
  padding: 0 !important; }

.zurb-footer-top .property h2 a {
  transition: all .25s ease-in-out;
  font-family: "zurb-logo";
  font-weight: normal;
  font-size: em-calc(18px);
  padding: 0; }

.zurb-footer-top .property h2 a:hover {
  opacity: 0.8; }

.zurb-footer-top .property h2 a.services {
  width: 190px; }

.zurb-footer-top .property h2 a span {
  display: none; }

.zurb-footer-top .property h2 a strong {
  font-size: 17px;
  margin-left: -7px; }

.zurb-footer-top .property h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px; }

.zurb-footer-top .property h4 {
  font-size: 1.1rem;
  font-weight: 200;
  color: white;
  margin-bottom: 10px;
  text-transform: none; }

.zurb-footer-top .property p,
.zurb-footer-top .property li,
.zurb-footer-top .property a {
  font-size: 13px;
  line-height: 21px;
  color: white; }

.zurb-footer-top .property a {
  font-weight: bold;
  color: white; }

.zurb-footer-top .learn-links,
.zurb-footer-top .support-links,
.zurb-footer-top .connect-links {
  padding: 50px 0 0 0;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  background: url("http://foundation.zurb.com/assets/img/icons/footer-top-icons.png") no-repeat center 0;
  height: 220px;
  margin-bottom: 30px; }

.zurb-footer-top .learn-links ul,
.zurb-footer-top .support-links ul,
.zurb-footer-top .connect-links ul {
  margin-left: 0px !important;
  list-style: none; }

.zurb-footer-top .learn-links li,
.zurb-footer-top .support-links li,
.zurb-footer-top .connect-links li {
  line-height: 20px; }

.zurb-footer-top .learn-links {
  background-position: center -325px; }

.zurb-footer-top .support-links {
  background-position: center -635px; }

.zurb-footer-top .connect-links {
  padding: 50px 20px 0;
  background-position: center -9px; }

.zurb-footer-top .connect-links .button {
  font-size: 12px;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.1);
  color: #FFF !important;
  font-weight: bold;
  text-shadow: none;
  box-shadow: none;
  border: none;
  padding: 6px 16px; }

.zurb-footer-top .global {
  border-top: 1px solid rgba(255, 255, 255, 0.2); }

.zurb-footer-top .global .footer-link-block {
  font-weight: normal;
  display: block;
  margin: 30px 0 0 0; }

.zurb-footer-top .global .footer-link-block.services {
  background: url("http://foundation.zurb.com/assets/img/icons/footer-studios.png") left top no-repeat; }

.zurb-footer-top .global .footer-link-block.foundation {
  background: url("http://foundation.zurb.com/assets/img/icons/footer-foundation.png") left top no-repeat; }

.zurb-footer-top .global .footer-link-block.apps {
  background: url("http://foundation.zurb.com/assets/img/icons/footer-products.png") left top no-repeat; }

.zurb-footer-top .global .footer-link-block.expo {
  background: url("http://foundation.zurb.com/assets/img/icons/footer-expo.png") left top no-repeat; }

.zurb-footer-top .global .footer-link-block span {
  display: block;
  color: white;
  font-size: 0.75rem;
  padding-left: 40px;
  line-height: 18px; }

.zurb-footer-top .global .footer-link-block span.title {
  font-size: 1.0rem;
  margin-bottom: 5px; }

.zurb-footer-bottom {
  background: #333;
  padding: 24px 0 10px; }

.zurb-footer-bottom .design-border {
  border-bottom: 1px solid #484848;
  padding-bottom: 5px;
  margin-bottom: 25px; }

.zurb-footer-bottom .zurb-logo {
  color: #858585;
  font-weight: normal;
  background: url("http://foundation.zurb.com/assets/img/icons/footer-icons.png") no-repeat 0 3px;
  padding: 23px 0 0 0 !important;
  font-size: em-calc(16px);
  display: inline-block;
  width: 90px; }

.zurb-footer-bottom .zurb-logo:hover {
  opacity: 0.8; }

.zurb-footer-bottom .zurb-links {
  margin: 0;
  display: inline-block;
  padding-bottom: 0px; }

.zurb-footer-bottom .zurb-links li {
  display: block;
  float: left;
  margin-left: 6px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem; }

.zurb-footer-bottom .zurb-links a {
  color: #666;
  padding: 3px 6px; }

.zurb-footer-bottom .zurb-links a:hover {
  color: #777; }

.zurb-footer-bottom .copyright {
  margin: 6px 0 0;
  font-size: 0.75rem;
  color: #666; }

.zurb-footer-bottom .home-social {
  display: block;
  float: right;
  margin-bottom: 8px; }

.zurb-footer-bottom .home-social li {
  list-style: none;
  display: block;
  float: left;
  margin-left: 10px; }

.zurb-footer-bottom .home-social li:first-child {
  margin-left: 0; }

.zurb-footer-bottom .home-social a {
  display: block;
  height: 50px;
  width: 50px;
  background: url("http://foundation.zurb.com/assets/img/icons/social.png") no-repeat center 0; }

.zurb-footer-bottom .home-social a:hover {
  opacity: 0.8; }

.zurb-footer-bottom .home-social a.twitter {
  background-position: center 0; }

.zurb-footer-bottom .home-social a.facebook {
  background-position: center -200px; }

.zurb-footer-bottom .home-social a.mail {
  background-position: center -400px; }

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .zurb-footer-top .property {
    padding-top: 0px; }

  .zurb-footer-top .property .learn-links,
  .zurb-footer-top .property .support-links,
  .zurb-footer-top .property .connect-links {
    height: 240px;
    padding: 50px 10px 0; } }
@media only screen and (max-width: 767px) {
  .zurb-footer-top .property .property-info {
    padding-top: 0px; }

  .zurb-footer-top .property .learn-links,
  .zurb-footer-top .property .support-links,
  .zurb-footer-top .property .connect-links {
    border: none;
    height: auto;
    padding: 80px 20px 0;
    margin: 4px 0 0 0;
    border-top: 1px dotted rgba(255, 255, 255, 0.2); }

  .zurb-footer-top .property .learn-links li a,
  .zurb-footer-top .property .support-links li a,
  .zurb-footer-top .property .connect-links li a {
    font-size: 15px;
    line-height: 2; }

  .zurb-footer-top .property .learn-links p,
  .zurb-footer-top .property .learn-links a,
  .zurb-footer-top .property .support-links p,
  .zurb-footer-top .property .support-links a,
  .zurb-footer-top .property .connect-links p,
  .zurb-footer-top .property .connect-links a {
    font-size: 16px; }

  .zurb-footer-top .property .learn-links {
    background-position: center -300px;
    padding-top: 76px 20px 0; }

  .zurb-footer-top .property .support-links {
    padding: 76px 20px 0;
    background-position: center -618px; }

  .zurb-footer-top .property .connect-links {
    padding: 76px 20px 14px;
    background-position: center 10px; }

  .zurb-footer-top .global {
    border: none; }

  .zurb-footer-top .footer-link-block.services {
    border-top: 1px dotted rgba(255, 255, 255, 0.2);
    padding-top: 40px;
    margin-top: 0;
    background-position: center 10px !important; }

  .zurb-footer-top .footer-link-block span {
    font-size: em-calc(11px);
    line-height: 16px; }

  .zurb-footer-bottom {
    text-align: center; }

  .zurb-footer-bottom .columns {
    padding: 0; }

  .zurb-footer-bottom .zurb-logo {
    display: block;
    margin: 0 auto; }

  .zurb-footer-bottom .zurb-links {
    margin: 16px 0 10px; }

  .zurb-footer-bottom .home-social {
    float: none;
    margin: 0 0 20px 0;
    text-align: center;
    height: 44px;
    display: inline-block; } }
@media only screen and (max-width: 767px) {
  .zurb-footer-top .property .connect-links {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin-bottom: 20px; }

  .zurb-footer-top .global .footer-link-block {
    padding-top: 50px;
    text-align: center;
    margin: 0 !important;
    clear: both; }

  .zurb-footer-top .global .footer-link-block span {
    padding-left: 0px; }

  .zurb-footer-top .global .footer-link-block.services {
    border-top: 0;
    background-position: center 15px !important; }

  .zurb-footer-top .global .footer-link-block.foundation {
    background-position: center 15px !important; }

  .zurb-footer-top .global .footer-link-block.apps {
    padding-top: 80px;
    background-position: center 45px !important; }

  .zurb-footer-top .global .footer-link-block.expo {
    padding-top: 80px;
    background-position: center 45px !important; }

  .zurb-footer-top .property .learn-links {
    background: none;
    border: none;
    padding-top: 0;
    margin: 0; } }
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .zurb-footer-top .info-padding {
    background-image: url("http://foundation.zurb.com/assets/img/icons/footer-large-icon-retina.png");
    background-size: 100px 400px; }

  .zurb-footer-bottom ul.home-social li a {
    background-image: url("http://foundation.zurb.com/assets/img/icons/social-retina.png");
    background-size: 50px 600px; }

  .zurb-footer-top .global .footer-link-block {
    font-weight: normal;
    display: block;
    margin: 30px 0 0 0; }

  .zurb-footer-top .global .footer-link-block.services {
    background: url("http://foundation.zurb.com/assets/img/icons/footer-studios-retina.png") left top no-repeat; }

  .zurb-footer-top .global .footer-link-block.foundation {
    background-image: url("http://foundation.zurb.com/assets/img/icons/footer-foundation-retina.png") left top no-repeat; }

  .zurb-footer-top .global .footer-link-block.apps {
    background-image: url("http://foundation.zurb.com/assets/img/icons/footer-products-retina.png") left top no-repeat; }

  .zurb-footer-top .global .footer-link-block.expo {
    background-image: url("http://foundation.zurb.com/assets/img/icons/footer-expo-retina.png") left top no-repeat; }

  .zurb-footer-bottom a.zurb-logo {
    background-image: url("http://foundation.zurb.com/assets/img/icons/footer-icons-retina.png");
    background-size: 100px 1400px; }

  .zurb-footer-top .property .learn-links,
  .zurb-footer-top .property .support-links,
  .zurb-footer-top .property .connect-links {
    background-image: url("http://foundation.zurb.com/assets/img/icons/footer-top-icons-retina.png") no-repeat;
    background-size: 100px 1400px; } }
@media only screen and (max-width: 320px), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .zurb-footer-top .info-padding {
    background-image: url("http://foundation.zurb.com/assets/img/icons/footer-large-icon-retina.png");
    background-size: 100px 400px; }

  .zurb-footer-bottom ul.home-social li a {
    background-image: url("http://foundation.zurb.com/assets/img/icons/social-retina.png");
    background-size: 50px 600px; }

  .zurb-footer-top .global .footer-link-block {
    font-weight: normal;
    display: block;
    margin: 30px 0 0 0; }

  .zurb-footer-top .global .footer-link-block.services {
    background: url("http://foundation.zurb.com/assets/img/icons/footer-studios-retina.png") left top no-repeat;
    background-size: 30px; }

  .zurb-footer-top .global .footer-link-block.foundation {
    background: url("http://foundation.zurb.com/assets/img/icons/footer-foundation-retina.png") left top no-repeat;
    background-size: 30px; }

  .zurb-footer-top .global .footer-link-block.apps {
    background: url("http://foundation.zurb.com/assets/img/icons/footer-products-retina.png") left top no-repeat;
    background-size: 30px; }

  .zurb-footer-top .global .footer-link-block.expo {
    background: url("http://foundation.zurb.com/assets/img/icons/footer-expo-retina.png") left top no-repeat;
    background-size: 30px; }

  .zurb-footer-bottom .zurb-logo {
    background-image: url("http://foundation.zurb.com/assets/img/icons/footer-icons-retina.png");
    background-size: 100px 1400px; }

  .zurb-footer-top .property .support-links,
  .zurb-footer-top .property .connect-links {
    background-image: url("http://foundation.zurb.com/assets/img/icons/footer-top-icons-retina.png") no-repeat;
    background-size: 100px 1400px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .zurb-footer-top .property .learn-links {
    background: none; } }
.zurb-footer-top.bg-blue {
  background: #023E58; }

.zurb-footer-top.bg-fblue {
  background: #023E58; }

.zurb-footer-top.bg-green {
  background: #B8D30B; }

.zurb-footer-top.bg-dgreen {
  background: #afc908; }

.zurb-footer-top.bg-magenta {
  background: #A9014B; }

.zurb-footer-top.bg-orange {
  background: #FF5C00; }

.zurb-footer-top.bg-lorange {
  background: #FF6908; }

.zurb-footer-top.bg-oyellow {
  background: #FC9200; }

.zurb-footer-top.bg-loyellow {
  background: #FFB515; }

.zurb-footer-top.bg-navy {
  background: #074e68; }

#map {
    width: 100%;
    height: 500px;
}
.top-bar{
    display: none;
}
.addDevices, .addPollutions{
  display: none;
}
/*# sourceMappingURL=manual.css.map */
